<div class="game-map-container">
  <div class="map-loading-overlay" *ngIf="!isMapLoaded">
    <div class="spinner"></div>
    <div class="loading-text">Loading map...</div>
  </div>
  <div id="map-container" [class.map-loaded]="isMapLoaded">
    <canvas id="anim-canvas"></canvas>
  </div>
  <div class="ui-elements" *ngIf="isMapLoaded">
    <app-country-panel
      *ngIf="selectedCountry"
      class="country-panel-container"
      [country]="selectedCountry"
      (close)="closeCountryPanel()"
      (occupy)="onOccupyCountry()"
      (tax)="onTaxCountry()"
      (propaganda)="onPropaganda()">
    </app-country-panel>
  </div>
</div>
<!-- <div class="overlay-container">
  <app-world-time class="world-time-container"></app-world-time>
  <app-player-info class="player-info-container"></app-player-info>
</div> -->